body {
    background-size: 130%; 
     } 

h1{color: blue;}

table{
	  border-collapse: collapse;
	  background-color: lightgrey;	
	  width: 100%;
	  text-align: center;
	  font-size: 20px;
	 }

td{ 
	border : 8px solid #D5F5E3; 
	padding: 10px 15px;		
	border-radius: 10px;
  }


#cellule
{
    background-color: #D5F5E3;
}

select 
{
 font: bold italic 20px verdana; color:lightblue; 
}


blockquote 
{
  width: 50%;
  background:#333;
  color:grey;
  padding:10px;
  margin:0px 0;
  border-radius: 10px;
  margin-right: 20px;
}

#cadre 
{

	max-width: 900px;
	margin: 0 auto ;
    background-image: radial-gradient(closest-side ellipse at center , lightblue,#D5F5E3 );

	align-content: center;
	border-radius: 20px;

}

#cadre2
{

    max-width: 950px;
    margin: 0 auto ;
    background-color: #9999cc;
    align-content: center;
    border-radius: 20px;

}

#cadre3
{

    max-width: 1000px;
    margin: 0 auto ;
    background-color: #b7b7cc;
    align-content: center;
    border-radius: 20px;

}

#background 
{

    max-width: 2000px;
    margin: 0 auto ;
    align-content: center;

}

#marge
{
	padding-left: 20px;
}

#centrer
{
	text-align: center;
}

#ovale 
{
    width: 180px;
    height: 40px;
    border-radius: 10px / 10px;
    background: lightblue;
}

#ovale2
{
    width: 250px;
    height: 40px;
    border-radius: 10px / 10px;
    background: lightblue;
}

#instagram
{
    width: 10%;
    float: left;
}

#line
{
    line-height: 40px;
    font-size: 13pt;
}

#flotte
{
    float: left;
}


p
{
	font-family: Comic Sans MS;
}

h1
{
    font-family: sans-serif;
    color: #D5F5E3;
}

img
{
	width: 50%;
	height: 50%;
}




ul li
{
     position:relative;float:left;
     width:100px;height:100px;padding:10px;list-style:none;
     margin-right: 30px;                                                /* décalage entre images */
     margin-top: 30px;
}

ul li:nth-child(5n+1){clear:left;}                                      /* nombre d'image par ligne */
          
ul li a
{
     display:block;overflow:hidden;
     width:130px;height:130px;
     margin-top: 56px;margin-left:0px;                              /* déplacement de 0 pixel vers la droite*/
     border:0px solid rgba(0,0,0,0.7);
     transition-property:width,height,margin,z-index,border;
     transition-duration:0.4s;
}

ul li a:hover
{
     position:absolute;
     width:400px;height:400px;
     margin-top:56px;margin-right: 56px;
     z-index:100;
     border:6px solid rgba(0,0,0,0.7);
}
          
ul li a img
{
     
     width:130px;height:130px;z-index:20;
     transition-property:width,height,z-index;
     transition-duration:0.4s;
}
          
ul li a:hover img
{
     width:400px;height:400px;
     z-index:100;
}
                                                                        /* LE BOUTON */
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cf9dd9), color-stop(1, #6891ba));
    background:-moz-linear-gradient(top, #cf9dd9 5%, #6891ba 100%);
    background:-webkit-linear-gradient(top, #cf9dd9 5%, #6891ba 100%);
    background:-o-linear-gradient(top, #cf9dd9 5%, #6891ba 100%);
    background:-ms-linear-gradient(top, #cf9dd9 5%, #6891ba 100%);
    background:linear-gradient(to bottom, #cf9dd9 5%, #6891ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf9dd9', endColorstr='#6891ba',GradientType=0);
    background-color:#cf9dd9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4474a3;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6891ba), color-stop(1, #cf9dd9));
    background:-moz-linear-gradient(top, #6891ba 5%, #cf9dd9 100%);
    background:-webkit-linear-gradient(top, #6891ba 5%, #cf9dd9 100%);
    background:-o-linear-gradient(top, #6891ba 5%, #cf9dd9 100%);
    background:-ms-linear-gradient(top, #6891ba 5%, #cf9dd9 100%);
    background:linear-gradient(to bottom, #6891ba 5%, #cf9dd9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6891ba', endColorstr='#cf9dd9',GradientType=0);
    background-color:#6891ba;
}
.myButton:active {
    position:relative;
    top:1px;
}



.myButtoon {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffff24));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffff24 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffff24 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffff24 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffff24 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffff24 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffff24',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.myButtoon:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffff24), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffff24 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffff24 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffff24 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffff24 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffff24 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff24', endColorstr='#ffec64',GradientType=0);
    background-color:#ffff24;
}
.myButtoon:active {
    position:relative;
    top:1px;
}
